<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('imports'); -%>
    <a href="/public/stylesheets/style.css" type="stylesheet"></a>
  </head>
  <body>
    <%- include('navbar'); -%>
    
    <div class="container">
      <center>
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                  <img src="images/empresa.jpg" class="d-block w-90" alt="...">
              </div>
            </div>
        </div>
      </center>
    </div>

  </body>
</html>
