<nav class="navbar navbar-dark bg-primary">
    <li class="nav-item">
        <a class="navbar-brand" href="/">Inicio</a>
        <a class="navbar-brand" href="/trabalheConosco">Vagas na Empresa</a>
        <a class="navbar-brand" href="/admin/posts">Depoimentos</a>
    </li>
</nav>
