<div class="card" style="width: 18rem;">
  <img src="<%= `/images/${post.image}` %>" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">
      <%= post.title %>
    </h5>
    <p class="card-text">
      <%= post.description %>
    </p>
    <a href="https://www.linkedin.com/in/otavio-henrique-machado-83560b192/" class="btn btn-primary">Ler mais</a>
  </div>
</div>